{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font my-4">Shopping Cart</h2>
                <hr>
            </div>
        </div> 
         <div class="row">
            <div class="col text-center">
                {% if free_delivery_delta > 0 %}
                    <h5 class="mb-3 color-3-text">
                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                    </h5>
                {% endif %}
            </div>
        </div>
        
        
        <!-- Main Bag Section -->
        <div class="row">
            <div class="col-12 col-md-8">
                {% if bag_items %}
                        <table class="table table-sm color-4-bg">
                            <thead class="text-black">
                                <tr>
                                    <th colspan="2" scope="col">Product Info</th>
                                    <th scope="col">Price</th>
                                    <th colspan="2" scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-2">
                                       <a href="{% url 'product_detail' item.product.id %}"><img class="img-fluid bag-img" src="{{ item.product.image_url.0 }}"></a> 
                                    </td>
                                    <td class="py-4">
                                        <p class="my-0"><strong> <a class="product-link" href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a></strong></p>
                                        <p class="my-0 small text-muted">Product code: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-4">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                 
                                    <td class="py-4">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-4">
                                        <a class="remove-item" id="remove_{{ item.item_id }}"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                          
                        </table>
                {% else %}
                <div id="empty-cart" class="test"> 
                    <p>Your cart looks empty!</p>
                    <p><a href="{% url 'products' %}">Find Something Great!</a></p>
                </div>    
                {% endif %}
            </div>
            
            <div class="col-12 col-md-4 color-4-bg px-5 pt-3">
                <h4>Summary <span class="small">({{ product_count }} Items)</span></h4>
                <hr>
                <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                <h6 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h6>
               
                <a href="" class="btn btn-special my-3">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    
    <!-- form for remove button csrf token -->
    <form action="">
        {% csrf_token %}
    </form>
    
{% endblock %}

{% block extra_js %}
    <script src="{% static 'bag/js/bag.js' %}"></script>
{% endblock %}