{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <header class="container-fluid ">
        <div class="row">
            <!-- Header Row -->
            <div class="col-12 col-md-6 my-5 text-center text-container" id="index-header-action">
                <h2 class="mx-5">Generation that makes a mark in todays world, <br> steps forward with Confort and Fashion </h2>
                <button type="button" class="btn btn-special">Explore the shop</button>
            </div>  
            <div id="home-picture" class="col-12 col-md-6 ">
                <div></div>
            </div>
        </div>
    </header>
    <!-- Delivery container -->
    <section class="container-fluid p-0" >
        <div class="row justify-content-end even-home-container">
        <!-- All product row -->
            <div id="shoe-picture-1">
                <div></div>
            </div>
            <div class="col-12 col-md-5 col-lg-8 self py-4 text-center text-container">
                <h2 class="mx-5 text-white text-shadow-black">Orders of £99 and over pay nothing for shippping</h2>
                <button type="button" class="btn btn-special">Browse me</button>
            </div>
        </div>
    </section>
    
    <!-- category container -->
    <section class="container">
        <div class="row g-5 odd-home-container text-center ">
            <div class="col-12">
                <h1>Explore our products by categories</h1>
                <p>One thing you can always count on: high-quality products, no matter which category you shop.</p>
            </div>
            <div class="col-12 col-md-5 shadow ms-auto border rounded border-secondary px-0">
                <div class="row align-items-center">
                    <div class="col-12 col-md">
                        <img class="main-page-pic" src="https://milestone-project--4.s3.eu-west-2.amazonaws.com/static/images/Sneakers.png" alt="Sneakers picture">
                    </div>
                    <div class="col-12 col-md">
                        <h3>Sport</h3>
                        <p class="mb-4">Casual and versatile, sneakers are comfortable for everyday wear and come in various styles.</p>
                        <button type="button" class="btn btn-special">Explore</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 shadow ms-auto border rounded border-secondary px-0">
                <div class="row align-items-center">
                    <div class="col-12 col-md">
                        <img class="main-page-pic" src="https://milestone-project--4.s3.eu-west-2.amazonaws.com/static/images/dress_shoes.png" alt="Dress shoes picture">
                    </div>
                    <div class="col-12 col-md">
                        <h3>Classic</h3>
                        <p class="mb-4">Typically made of leather, dress shoes are suitable for formal events, business attire, and special occasions.</p>
                        <button type="button" class="btn btn-special">Explore</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 shadow ms-auto border rounded border-secondary px-0">
                <div class="row align-items-center">
                    <div class="col-12 col-md">
                        <img class="main-page-pic" src="https://milestone-project--4.s3.eu-west-2.amazonaws.com/static/images/high_heals.png" alt="High Heals picture">
                    </div>
                    <div class="col-12 col-md">
                        <h3>Elegant</h3>
                        <p class="mb-4">These are women's shoes with elevated heels, often worn to add height and elegance to formal or dressy outfits.</p>
                        <button type="button" class="btn btn-special">Explore</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 shadow ms-auto border rounded border-secondary px-0">
                <div class="row align-items-center">
                    <div class="col-12 col-md">
                        <img class="main-page-pic" src="https://milestone-project--4.s3.eu-west-2.amazonaws.com/static/images/winter_shoes.png" alt="Winter shoes picture">
                    </div>
                    <div class="col-12 col-md">
                        <h3>Winter</h3>
                        <p class="mb-4">Insulated and designed to keep your feet warm and dry in snowy and cold weather.</p>
                        <button type="button" class="btn btn-special">Explore</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- feautures container -->
     <section class="container-fluid p-0" >
        <div class="row even-home-container text-center home-icons-container justify-content-center">
        <!-- All product row -->
            <div class="col-12 col-md-3 self py-4 text-container text-white text-shadow-black">
                <p class="home-icons"><i class="fa-solid fa-handshake"></i></p>
                <h2>30 Day waranty</h2>
                <p class="text-black text-shadow-white">Your satisfaction and piece of mind guaranteed.</p>
            </div>
            <div class="col-12 col-md-3 self py-4 text-container text-white text-shadow-black">
                <p class="home-icons"><i class="fa-solid fa-globe"></i></p>
                <h2>International Deliveries</h2>
                <p class="text-black text-shadow-white">Delivering goods to over 100 countires.</p>
            </div>
            <div class="col-12 col-md-3 self py-4 text-container text-white text-shadow-black">
                <p class="home-icons"><i class="fa-solid fa-star"></i></p>
                <h2>10 years expierence</h2>
                <p class="text-black text-shadow-white">A decade of proven knowledge that you can trust</p>
            </div>
        </div>
    </section>
    
    <!-- FAQ section -->
    <section class="container">
        <div class="row g-5 odd-home-container text-center ">
             <div class="col-12">
                <h1>Frequently asked questions</h1>
            </div>
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What's the return policy for your shoes?
                            </button>
                        </h3>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                We offer a <strong>30-day</strong> hassle-free return policy. If you're not satisfied with your purchase, simply return the unworn shoes with their original packaging, and we'll process your refund or exchange.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How can I determine the right shoe size for me?
                            </button>
                        </h3>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            We provide a  <strong>comprehensive sizing guide</strong> on our website to help you find the perfect fit. Additionally, we offer guidelines on how specific brands and styles may fit to make your decision easier.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Do you offer free shipping?
                            </button>
                        </h3>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes, we offer <strong>free standard shipping on orders over £99</strong>. You can also choose expedited shipping options for faster delivery, with associated fees.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Can I track my order's shipping status?
                            </button>
                        </h3>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Absolutely! Once your order ships, you will receive a <strong>tracking number via email</strong>. You can use this to track the status of your delivery.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How do I care for and clean my shoes properly?
                            </button>
                        </h3>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                We provide care and cleaning <strong>instructions for each shoe type on our website</strong>. Following these guidelines will help maintain the quality and appearance of your shoes.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}