/* header */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

:root {
  /* fonts */
  --title: "Lato", sans-serif;
  --main-font: "Playfair Display", serif;

  /* Colours */
  --text: #0b1d07;
  --background: #f8fdf7;
  --primary: #611a74;
  --secondary: #f4cde9;
  --accent: #592dc8;

  /* Utility */
  --small-boxshadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --skew-angle: 5deg;
}

.test {
  border: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

.color-1-bg {
  background-color: var(--text);
}

.color-1-text {
  color: var(--text);
}

.color-2-bg {
  background-color: var(--background);
}

.color-2-text {
  color: var(--background);
}

.color-3-bg {
  background-color: var(--primary);
}

.color-3-text {
  color: var(--primary);
}

.color-4-bg {
  background-color: var(--secondary);
}

.color-4-text {
  color: var(--secondary);
}

.color-5-bg {
  background-color: var(--accent);
}

.color-5-text {
  color: var(--accent);
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  letter-spacing: 2px;
}

main {
  flex: 1;
  background-color: var(--background);
}

/* footer */
footer {
  margin-top: auto;
  flex-shrink: 0;
  position: relative;
  bottom: 0;
}

.navbar {
  background-color: var(--secondary);
  box-shadow: var(--small-boxshadow);
}

/* svg-logo-path */
.logo-svg {
  height: 3.5rem;
}

@media screen and (max-width: 1200px) {
  .logo-svg {
    height: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .logo-svg {
    height: 2rem;
  }
}

.svg-path-1 {
  fill: var(--text);
}

.svg-path-2 {
  fill: var(--accent);
}

.svg-path-3 {
  fill: var(--secondary);
}

.svg-path-4 {
  fill: var(--primary);
}

.svg-path-5 {
  fill: var(--accent);
}

.svg-path-6 {
  fill: var(--text);
}

/* Form */

.form {
  width: 100%;
  margin: 3% auto;
  box-shadow: var(--boxshadow);
  border-radius: 5px;
}

/* Navigation */
.navbar-brand {
  margin-right: 0;
}

.dropdown-toggle::after {
  display: none;
}

#navbar-supported-content > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text);
}

.nav-link:is(:hover, :focus) {
  color: var(--primary);
  text-decoration: underline;
}

/* Search Button */

#search-button {
  background-color: var(--background);
  border: 2px solid var(--text);
  border-radius: 5px;

  input {
    border: none;
    border-radius: 5px;
  }
  input:focus {
    outline: none;
  }
}

#search-button:is(:hover, :focus) {
  border: 2px solid var(--primary);
}

#btn-search {
  font-size: 1rem;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 5px;
  margin: 0.1rem;
  background-color: var(--text);
  color: var(--background);
}

#btn-search:is(:hover, :focus) {
  background-color: var(--primary);
  color: var(--background);
}

.dropdown-menu div {
  display: flex;
  flex-direction: row;
}

.dropdown-menu div div {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.dropdown-menu div ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  max-height: 75vh;
  padding: 0;
  margin: 0;
  width: fit-content;
  break-inside: avoid;
}

.dropdown-menu li {
  width: 200px;
}

.dropdown-menu ul li :is(:hover, :focus) {
  background-color: var(--secondary) !important;
}

.dropdown-menu .navigation-type:is(:hover, :focus) {
  background-color: var(--secondary);
}

@media screen and (max-width: 768px) {
  .dropdown-menu div {
    flex-wrap: wrap;
  }
}

.dropdown-menu[data-bs-popper] {
  left: -100%;
}

#log-in-items {
  list-style: none;
}

.nav-item .fa-cart-shopping,
.nav-item .fa-user {
  font-size: 1.5rem;
  color: var(--text);
}

.nav-item .fa-cart-shopping:is(:hover, :focus),
.nav-item .fa-user:is(:hover, :focus) {
  color: var(--primary);
}

/* Buttons */

a.btn-special,
button.btn-special {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--text);
  color: var(--background);
}

a.btn-special:is(:hover, :focus),
button.btn-special:is(:hover, :focus) {
  background-color: var(--primary);
  color: var(--background);
}

/* toest */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.toast .toast-header {
  display: flex;
  justify-content: space-between;
}

.bag-notification-wrapper {
  max-height: 25vh;
  overflow-x: hidden;
  overflow-y: auto;
}
