

.test {
  border: 1px solid rgb(255, 0, 162);
}

.color-1-bg {
  background-color: var(--text);
}

.color-1-text {
  color: var(--text);
}

.color-2-bg {
  background-color: var(--background);
}

.color-2-text {
  color: var(--background);
}

.color-3-bg {
  background-color: var(--primary);
}

.color-3-text {
  color: var(--primary);
}

.color-4-bg {
  background-color: var(--secondary);
}

.color-4-text {
  color: var(--secondary);
}

.color-5-bg {
  background-color: var(--accent);
}

.color-5-text {
  color: var(--accent);
}

/* Products modifications */
.product-brand {
  font-weight: bold;
  margin-top: 1.5rem;
}

.product-card {
  position: relative;
  border-radius: 1rem 1rem 0 0;
}

.product-link {
  display: flex;
  justify-content: center;
}

.product-link img {
  max-width: 80%;
  object-fit: scale-down;
}

.product-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:is(:hover, :focus),
.product-card:is(:hover, :focus) .hidden-info {
  box-shadow: var(--boxshadow);
}

.hidden-info {
  background-color: var(--secondary);
  position: absolute;
  height: 50px;
  bottom: -50px;
  left: 0;
  display: hidden;
  border-radius: 0 0 1rem 1rem;
}

.hidden-info div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  background-color: var(--text);
  color: var(--background);
}

.add-button-card {
  display: none;
}

.product-card:is(:hover, :focus) .hidden-info,
.product-card:focus .hidden-info {
  width: 100%;
  display: block;
  z-index: 1;
}

.product-card:is(:hover, :focus) .add-button {
  display: block;
}

.add-button:is(:hover, :focus) {
  background-color: var(--primary);
  color: var(--background);
}

form {
  height: inherit;
  margin: 0;
  padding: 0;
}

/* Slides */

.slider {
  width: 30vw;
  aspect-ratio: 1/1;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0s;
}

.slide > img {
  /* Only for images that have different size than slide */

  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image_skips {
  padding: 0;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image_skips_picture {
  width: 4vw;
  aspect-ratio: 1/1;
  margin: 2px;
  cursor: pointer;
  transition: all 0s;
  list-style-type: none;
}

.image_skips_picture img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image_skips_picture--active {
  filter: brightness(70%);
}

/* product Details */

footer {
  margin-top: 2rem;
}

a.quality-link{
  color: var(--text);
  text-decoration: none !important;
}

a.quality-link:is(:hover, :focus) {
  background-color: var(--primary);
  border-radius: 0.5rem;
  i{
    color: white;
  }
  small{
    color: white;
  }
}


.product-details-container{
  border-style: solid; 
  border-width: var(--border); 
  border-color: var(--primary);
}
