{% load static %}

<footer class="color-1-bg text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Social Media links -->
    <section class="mb-4">
      
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
        aria-label="Facebook link"
        ><i class="fab fa-facebook-f"></i
      ></a>
      
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
        aria-label="Twitter link"
        ><i class="fa-brands fa-x-twitter"></i></a>

      <!-- YouTube -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/" role="button"
        aria-label="Youtube link"><i class="fab fa-youtube"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
        aria-label="Instagram link"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button"
        aria-label="Linkedin link"
        ><i class="fab fa-linkedin-in"></i
      ></a>

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 color-3-bg" >
    © 2023 Copyright:
    <a class="text-white" href="https://github.com/Erikas-Ramanauskas">Erikas Ramanauskas</a>
  </div>
  <!-- Copyright -->
</footer>
