{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary color-4-bg">
    <div class="container-fluid">
      <!-- logo -->
      <a class="navbar-brand" href="{% url 'home' %}" aria-label="Page Logo, link to home page"
      >{% include 'includes/logo.html' %}</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-supported-content"
        aria-controls="navbar-supported-content"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--  navigation list -->
      <div class="collapse navbar-collapse" id="navbar-supported-content">
        <div>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link {% if url_name == 'home' %} active {% endif %}"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
            <!-- Product Dropdown -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                aria-current="page"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Men
              </a>
              <!-- both list loops though avialable options. if there are no shoe of specific brand or category the meniu will not display the category or brand -->
              <div class="dropdown-menu product-list">
                <div>
                  <div>
                    <p class="color-4-bg dropdown-item navigation-type mb-0">By brand</p>
                    <hr />
                    <ul>
                      {% for brand in male_brands %}
                      <li>
                        <a 
                          class="dropdown-item" 
                          aria-current="page" 
                          href="{% url 'products' %}?brand={{ brand.name }}&sex=male"
                          >{{ brand.friendly_name }}</a
                        >
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div>
                    <p class="dropdown-item navigation-type mb-0">By category</p>
                    <hr />
                    <ul>
                      {% for category in male_categories %}
                      <li>
                        <a
                          class="dropdown-item"
                          aria-current="page"
                          href="{% url 'products' %}?category={{ category.name }}&sex=male"
                          >{{ category.friendly_name }}</a
                        >
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div>
                    <p class="color-4-bg dropdown-item navigation-type mb-0">By Size</p>
                    <hr />
                    <ul>
                      {% for size in male_sizes %}
                      <li>
                        <a 
                          class="dropdown-item" 
                          aria-current="page" 
                          href="{% url 'products' %}?size={{ size.uk_name }}&sex=male"
                          >{{ size.get_uk_name }}</a
                        >
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                aria-current="page"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Women
              </a>
              <!-- both list loops though avialable options. if there are no shoe of specific brand or category the meniu will not display the category or brand -->
              <div class="dropdown-menu product-list">
                <div>
                  <div>
                    <p class="color-4-bg dropdown-item navigation-type mb-0">By brand</p>
                    <hr />
                    <ul>
                      {% for brand in female_brands %}
                      <li>
                        <a 
                          class="dropdown-item" 
                          aria-current="page" 
                          href="{% url 'products' %}?brand={{ brand.name }}&sex=female"
                          >{{ brand.friendly_name }}</a
                        >
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div>
                    <p class="color-4-bg dropdown-item navigation-type mb-0">By category</p>
                    <hr />
                    <ul>
                      {% for category in female_categories %}
                      <li>
                        <a
                          class="dropdown-item"
                          aria-current="page"
                          href="{% url 'products' %}?category={{ category.name }}&sex=female"
                          >{{ category.friendly_name }}</a
                        >
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div>
                    <p class="color-4-bg dropdown-item navigation-type mb-0">By Size</p>
                    <hr />
                    <ul>
                      {% for size in female_sizes %}
                      <li>
                        <a 
                          class="dropdown-item" 
                          aria-current="page" 
                          href="{% url 'products' %}?size={{ size.uk_name }}&sex=female"
                          >{{ size.get_uk_name }}</a
                        >
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <form class="d-flex" id="search-button" role="search" method="GET" action="{% url 'products' %}">
            <input class="px-2" type="search" placeholder="Search" aria-label="Search" name="q" />
            <button id="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass" aria-label="search button"></i></button>
          </form>
          <ul id="log-in-items" class="navbar-nav mb-2 mb-lg-0">
            <!-- Admin Link -->
            {% if request.user.is_superuser %}
             <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-screwdriver-wrench"></i>
              </a>
              <ul class="dropdown-menu dd-personal">
                <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'add_product' %} active {% endif %}"
                    aria-current="page"
                    href="{% url 'add_product' %}"
                    >Add Product</a
                  >
                </li>
                 <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'sold_products' %} active {% endif %}"
                    aria-current="page"
                    href="{% url 'sold_products' %}"
                    >Sold Products</a
                  >
                </li>
                <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'order_list' %} active {% endif %}  position-relative"
                    aria-current="page"
                    href="{% url 'messages' %}">
                    Messages
                    {% if unread_messages_count > 0 %}
                        <span class="position-absolute badge rounded-pill bg-danger bg-special">
                            {{ unread_messages_count }}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    {% endif %}
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            
            <!-- User Dropdown -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu">
                {% if request.user.is_authenticated %}
                <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'profile' %} active {% endif %}"
                    aria-current="page"
                    href="{% url 'profile' %}"
                    >Profile</a
                  >
                </li>
                <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'order_list' %} active {% endif %}"
                    aria-current="page"
                    href="{% url 'order_list' %}"
                    >Order History</a
                  >
                </li>
                {% if not request.user.is_superuser %}
                <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'messages' %} active {% endif %}  position-relative"
                    aria-current="page"
                    href="{% url 'messages' %}">
                    Messages
                    {% if unread_messages_count > 0 %}
                        <span class="position-absolute badge rounded-pill bg-danger bg-special">
                            {{ unread_messages_count }}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    {% endif %}
                  </a>
                </li>
                {% endif %}
                <li><hr class="dropdown-divider" /></li>
                <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'accounts_logout' %} active {% endif %}"
                    aria-current="page"
                    href="{% url 'account_logout' %}"
                    >Log Out</a
                  >
                </li>
                {% else %}
                <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'accounts_singup' %} active {% endif %}"
                    aria-current="page"
                    href="{% url 'account_signup' %}"
                    >Register</a
                  >
                </li>
                <li class="nav-item nav-personal-link">
                  <a
                    class="nav-link {% if url_name == 'accounts_login' %} active {% endif %}"
                    aria-current="page"
                    href="{% url 'account_login' %}"
                    >Log In</a
                  >
                </li>
                {% endif %}
              </ul>
            </li>
            
            <!-- Cart Link -->
            <li class="nav-item">
              <a class="nav-link total-navigation" aria-current="page" href="{% url 'bag' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                <p class="my-0">
                  {% if grand_total %}
                      £{{ grand_total|floatformat:2 }}
                  {% else %}
                      £0.00
                  {% endif %}
                </p>
              </a>
            </li>
          </ul>
        </div>
        <!-- search  -->
      </div>
    </div>
  </nav>
  {% endwith %}
</header>
