{% extends "base.html" %} 

{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% endblock %} 
{% block extra_js %}
<script defer src="{% static 'products/js/products.js' %}" crossorigin="anonymous"></script>
{% endblock %} 

{% block content %}

<div class="container">
  <div id="chat-container" class="row justify-content-center">
    <h4 class="text-center">Messages</h4>
    <div class="col col-lg-8">
      {% for chat in messages_list %}
      <a href="{% url 'message' chat.product.id chat.sender.id %}">
        <div class="card">
          <div class="">
            <h5 class="">{{ chat.product.name }}</h5>
            <p class="">{{ chat.sender.username }}</p>
          </div>
        </div>
      </a>
       <br>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}