{% extends "base.html" %} 

{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'chat_system/css/chat_system.css' %}" />
{% endblock %} 

{% block extra_js %}
<script defer src="{% static 'chat_system/js/chat_system.js' %}" crossorigin="anonymous"></script>
{% endblock %} 

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-8 my-2" id="chat-container">
      <div id="chat-window">
        {% if request.user.is_superuser %}
          {% for message in chat.messages.all %}
            {% if message.superuser %}
              <div class="message-sent">
                <p>{{ message.content }}</p>
              </div>
            {% else %}
              <div class="message-received">
                <p>{{ message.content }}</p>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for message in chat.messages.all %}
            {% if message.superuser %}
              <div class="message-received">
                <p>{{ message.content }}</p>
              </div>
            {% else %}
              <div class="message-sent">
                <p>{{ message.content }}</p>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="">
        <form method="POST" action="{% url 'message' product.id request.user.id %}" id="message-form" enctype="multipart/form-data">
          {% csrf_token %} 
          <input type="hidden" name="product_id" value="{{ product.id }}">
          
          {% for field in message_form %} 
          {{ field }} 
          {% endfor %}
          
          <button class="btn btn-special" type="submit"><i class="fa-regular fa-paper-plane"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}