#chat-container{
  border-style: solid; 
  border-width: var(--border); 
  border-color: var(--primary);
  display: flex;
  flex-direction: column;
}


#chat-window {
    height: 90%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#chat-container{
   height: 65vh; 
}

#id_content{
    width: 90%;
    background-color: transparent;
    border-style: solid; 
    border-width: 0 0 2px 0; 
    border-color: var(--text);
}

#id_content:is(:hover, :focus){
    outline: none;
    border-color: var(--primary);
}

#message-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
}

.message-sent p,
.message-received p{
    display: inline;
    margin: 0.2rem 0.5rem;
}

.message-sent p{
    border-radius:  50px 50px 0 50px;
    background-color: var(--primary);
    color: var(--background);
    padding: 0 0.5rem 0 0.7rem;
}

.message-received p{
    border-radius: 50px 50px 50px 0;
    background-color: var(--accent);
    color: var(--background);
    padding: 0 0.7rem 0 0.5rem;
}

.message-sent{
    display: flex;
    justify-content: end;
}

.message-received{
   display: flex;
   justify-content: start;
}

a {
  all: initial;
}


a.message-list-container>div{
   border-style: solid; 
   border-width: var(--border);
   border-color: var(--primary);
   margin: 0.5rem 0;
}

a.message-list-container p{
 margin: 0.3rem 0.7rem;
}

.message-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--accent);
    
}

.reciever-pretext{
    font-weight: bold; 
    color: var(--primary);
}

.message-list-footer p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-list-headder p{
  display: flex;
  justify-content: space-between;
}

.message-list-headder p span:nth-child(3) {
  margin-left: auto;
}

.messages-time{
    font-style: italic;
    color: var(--accent);
}