#empty-cart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#empty-cart a{
    color: var(--accent);
    text-decoration: none;
}

#empty-cart :is(a:focus, a:hover){
    color: var(--accent);
    text-decoration: underline;
}

.bag-img{
    max-width: 5rem;
}

th{
    border-bottom: 2px solid var(--primary);

}

td {
    border-bottom: 2px solid var(--text);
}

.product-link{
    color: var(--accent);
    text-decoration: none;
}

.remove-item{
    font-size: 1.5rem;
    color: var(--text);
    text-decoration: none;
}

.remove-item:is(:hover, :focus){
    color: var(--primary);
}

.summary-container{
    border-style: solid; /* Use a solid border style */
    border-width: var(--border); /* top right bottom left */
    border-color: var(--primary);
    background-color: var(--secondary);
}