:root {
  /* fonts */
  --title: "Lato", sans-serif;
  --main-font: "Playfair Display", serif;

  /* Colours */
  --text: #0b1d07;
  --background: #f8fdf7;
  --primary: #611a74;
  --secondary: #f4cde9;
  --accent: #592dc8;

  /* Utility */
  --small-boxshadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --skew-angle: 5deg;
}

#empty-cart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bag-img{
    max-width: 5rem;
}

th{
    border-bottom: 2px solid var(--primary);

}

td {
    border-bottom: 2px solid var(--text);
}

.product-link{
    color: var(--accent);
    text-decoration: none;
}

.remove-item{
    font-size: 1.5rem;
    color: var(--text);
    text-decoration: none;
}

.remove-item:is(:hover, :focus){
    color: var(--primary);
}