{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% endblock %} {% block extra_js %}
<script defer src="{% static 'products/js/products.js' %}" crossorigin="anonymous"></script>
{% endblock %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      <div class="image-container my-5">
        {% if product.image %}
        <!-- new slider -->
        <div class="slider">
          {% for image in product.image_url %}
          <div class="slide">
            <img src="{{ image }}" alt="Slide {{ forloop.counter }}" class="" />
          </div>
          {% endfor %}
        </div>
        <!-- end of new slider -->
        <ul class="image_skips"></ul>
        {% else %}
        <div class="slider">
          <div class="slide">
            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="product-details-container mb-5 mt-md-5 p-4 color-4-bg rounded-3">
        {% if request.user.is_superuser %}
        <div class="edit-container">
            <a class="edit-btn" href="{% url 'edit_product' product.id %}" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="delete-btn" href="{% url 'delete_product' product.id %}" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete"><i class="fa-solid fa-trash-can"></i></a>
        </div>
        {% elif user.is_authenticated %}
        <div class="edit-container">
            <a class="edit-btn" href="{% url 'message' product.id request.user.id %}" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ask about"><i class="fa-regular fa-comment"></i></a>
        </div>
        {% endif %}
        <h3 class="mb-0 color-1-text">{{ product.brand.friendly_name }}</h3>
        <h4 class="">{{ product.name }}</h4>
        <p class="mb-2 px-2 mt-3 text-left font-weight-bold color-5-text">
          <i class="fa-solid fa-sterling-sign"></i>{{ product.price }}
        </p>
        <div class="row">
          <div class="col-12">
            <small class="px-2 text-muted">
              <i class="color-5-text fa-solid fa-shoe-prints"></i>
              Size: {{ product.size }} UK</small>
          </div>
          <div class="col-12"> 
            <a class="px-2 py-1 quality-link" href="{% url 'quality' %}">
              <small>
                <i class="color-5-text fa-solid fa-medal"></i>
                Quality: {{ product.quality }}</small>
            </a>
          </div> 
        </div>
           
        <p class="mt-3">{{ product.description }}</p>
        <div class="d-flex justify-content-center mt-4">
          <form action="{% url 'add_to_bag' product.id %}" method="POST">
            <div>
              {% csrf_token %} {% if product.id in bag_ids %}
              <input class="btn add-button rounded-0 text-uppercase" value="Already in A Cart" disabled />
              {% else %}
              <input type="submit" class="btn add-button rounded-0 text-uppercase" value="Add to cart" />
              {% endif %}
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
